In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#sns.set_style("dark", {"axes.facecolor": ".9"})
sns.set_style('whitegrid')

In [5]:
# Importing data set. Suicide rate per country, year and gender.
male_female_suicide_rate = pd.read_csv('/Users/soul/Desktop/IronHack/VideoGame_Analysis/Data/Suicides/male-and-female-suicide-rate.csv')
male_female_suicide_rate.head()

,Entity,Code,Year,"Male suicide rate (age-adjusted male suicides per 100,000)","Female suicide rate (age-adjusted female suicides per 100,000)"
0,Afghanistan,AFG,2004,4.884804,8.630156
1,Albania,ALB,2004,9.330574,6.060875
2,Algeria,DZA,2004,5.145025,4.600765
3,Andorra,AND,2004,8.048293,2.902797
4,Angola,AGO,2004,21.472977,8.143820